<?xml version="1.0" encoding="UTF-8"?>
<?include "GlobalVariables.wxi"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">


  <Product Id="*" Name="$(var.AppName)" Language="1033" Version="1.0.2.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="7367cf7c-bce5-40d7-ba34-0c6458584da6">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade
		  Schedule="afterInstallInitialize"
		  DowngradeErrorMessage="Newer version already installed"
    />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="$(var.AppName) Main" Level="1">
			<ComponentRef Id="RemoveAll"/>
      <ComponentRef Id="RemoveAllBlocks"/>

      <ComponentRef Id="RevitAddinComponent"/>
			<ComponentRef Id="PackageContents"/>
			<ComponentGroupRef Id="ExecutablesGroup"/>
      <ComponentGroupRef Id="BlocksGroup"/>
    </Feature>



    <UI Id="WixUI_Minimal">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Minimal" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			<DialogRef Id="VerifyReadyDlg" />
			<DialogRef Id="WelcomeDlg" />

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Property Id="ARPNOMODIFY" Value="1" />
		</UI>

		<WixVariable Id="WixUIBannerBmp" Value="Images\banner-small.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\banner-big.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="Texts\LicenseText.rtf" />
    <Icon Id="logo.ico" SourceFile="Images\logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />
    
		<UIRef Id="WixUI_Common" />

		<Property Id="APPLICATIONFOLDER">
			<RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Root="HKLM" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
		</Property>
    
    
	</Product>

	<Fragment>
    
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="PersonalFolder">
        <Directory Id="BlocksFolder" Name="Janet Blocks">
          <Component Id="RemoveAllBlocks" Guid="1e5e633a-dad3-444d-8c32-c5a3a7286df4">
            <RegistryValue Root='HKCU' Key='Software\Manufacturer\Product'
						 Name='InstallFolder'
						 Value='[INSTALLFOLDER]'
						 Type='string'
						 KeyPath='yes' />

            <RemoveFolder Id="RemoveAllBlocksFoldersOnUninstall" Directory="BlocksFolder" On="uninstall" />
          </Component>
        </Directory>
        </Directory>
			<Directory Id="CommonAppDataFolder">
				<Directory Id="AdskFolder" Name="Autodesk">
					<Directory Id="AppPlugins" Name="ApplicationPlugins">
						<Directory Id="BundleFolder" Name="$(var.AppName).bundle">
							<Component Id="PackageContents" Guid="7f39e945-5fa8-4d27-a116-18aadb66e751">
								<File Id="PackageContentsFile" KeyPath="yes" Source="$(var.JanetRevit.ProjectDir)\PackageContents.xml" />
							</Component>
							<Directory Id="ContentsFolder" Name="Contents">
								<Component Id="RevitAddinComponent" Guid="cc83fc6d-f3aa-4e2d-a035-413dcef81fa8">
									<File Id="RevitAddinFile" KeyPath="yes" Source="$(var.JanetRevit.ProjectDir)\JanetRevit.addin" />
								</Component>
								<Directory Id="AddinFolder" Name="$(var.ProjectName)"/>
								<Component Id="RemoveAll" Guid="1e5e6e3a-dad3-444d-8c32-c5a3a7286df4">
									<RemoveFolder Id="RemoveAllFoldersOnUninstall" Directory="BundleFolder" On="uninstall" />
									<RegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Name="Path" Type="string" Value="[VersionFolder]" KeyPath="yes" />

									<util:RemoveFolderEx On="uninstall" Property="VersionFolder" />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
